<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadoliebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d4da5cb98c.js" crossorigin="anonymous"></script>
</head>
<body class="container">
   <header>
       <div class="header-logo"><img src="/images/logo-mercado-liebre.svg" alt="">
        <form action="">
       <div class="barra"> 
        <input type="text" placeholder="Buscar productos, marcas y más">
        <i class="fas fa-search"></i>
       </div>
       </form>
       <div class="compras">
        <h4>
        <i class="fas fa-hand-holding-usd icon-hand"></i>
           Comprá en cuotas y sin tarjeta de crédito
        </h4>
       </div>
       </div>

       <a class="burguer-menu" href=""><i class="fas fa-bars"></i></a> 

        <nav class="header-nav">

           <ul class="left-nav">
               <li><a href="">Ofertas</a></li>
               <li><a href="">Tiendas Oficiales</a></li>
               <li><a href="">Vender</a></li>
               <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="right-nav">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
           
            </header>
        <banner>
            <div id="banner"><img src="/images/img-home-banner.jpg" alt=""></div>
        </banner> 
   <main class="main-productos">

       <div class="section-titulo"><h2>Basado en tu última visita</h2></div>

       <section class="main-sections">
           <article>
             <div class="producto">
                <img src="/images/img-cafetera-moulinex.jpg" height='300'>
                <i class="fas fa-truck"></i>
                <div class="precio">
                <div class="precio-oferta">
                <h3>$6.770</h3>
                <p>40% off</p></div>
                <div class="marca"><b>Cafetera Moulinex</b></div>
                </div>
                </div>   
                </article>

                <article>
            <div class="producto">
               <img src="/images/img-macbook-pro-2019.jpg" height='300'>
               <i class="fas fa-truck"></i>
               <div class="precio">
                <div class="precio-oferta">
                <h3>$230.000</h3> 
               <p>20% off</p></div> 
               <div class="marca"><b>MacBook Pro 2019</b></div>
            </div>
            </div>
            </article>

            <article>
              <div class="producto">
                <img src="/images/img-samsung-galaxy-s10.jpg" height='300'>
                <i class="fas fa-truck"></i>
                <div class="precio">
                <div class="precio-oferta">
                <h3>$70.500</h3>
                <p>10% off</p></div>
                <div class="marca"><b>Samsung Galaxy S10</b></div>
            </div>
            </div> 
            </article>

            <article>
            <div class="producto">
                <img src="/images/img-tv-samsung-smart.jpg" height='300'>
                <i class="fas fa-truck"></i>
                <div class="precio">
                <div class="precio-oferta">     
                <h3>$23.200</h3>
                <p>5% off</p></div>
                <div class="marca"><b>SmartTv Samsung 43"</b></div>
            </div>
            </div>
            </article>

       </section>
       
       <div class="section-titulo"><h2>Ofertas</h2></div>

       <section class="main-sections">
           
           <article>
           <div class="producto">
               <img src="/images/img-cafetera-moulinex.jpg" height='300'>
                <i class="fas fa-truck"></i>
                <div class="precio">
                <div class="precio-oferta">
                <h3>$6.770</h3>
                <p>40% off</p></div>
               <div class="marca"><b>Cafetera Moulinex</b></div>
            </div>
            </div>
            </article>

            <article>
            <div class="producto">
                <img src="/images/img-macbook-pro-2019.jpg" height='300'>
                <i class="fas fa-truck"></i>
                <div class="precio">
                <div class="precio-oferta">
                <h3>$230.000</h3>
                <p>20% off</p></div>
                <div class="marca"><b>MacBook Pro 2019</b></div>
            </div>
            </div>
            </article>

            <article>
            <div class="producto">
                <img src="/images/img-samsung-galaxy-s10.jpg" height='300'>
                <i class="fas fa-truck"></i>
                <div class="precio">
                <div class="precio-oferta">
                <h3>$70.500</h3>
                <p>10% off</p></div>
                <div class="marca"><b>Samsung Galaxy S10</b></div>
            </div>
            </div>
            </article>

            <article>  
             <div class="producto">
                <img src="/images/img-tv-samsung-smart.jpg" height='300'>
                <i class="fas fa-truck"></i>
                <div class="precio">
                <div class="precio-oferta">
                <h3>$23.200</h3>
                <p>5% off</p></div>
                <div class="marca"><b>SmartTv Samsung 43"</b></div>
                </div>
                </div>
            </article>

       </section>

   </main>
    
   <footer>

       <section class="section-foot">

         <article>
           <div class="iconos-foot"><i class="fas fa-credit-card"></i></div>
           <h3>Pagá con tarjeta o en efectivo</h3>
           <p>Con MercadoLiebreCash, tenés cuotas sin interés con tarjeta o efectivo en
              puntos de pago. ¡Y siempre es seguro!</p>
       </article>
       <article>
           <div class="iconos-foot"><i class="fas fa-gift"></i></div>
           <h3>Envío gratis desde $ 2.500</h3>
           <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
           roductos. Es un beneficio de MercadoPuntos.</p>
       </article>
       <article>
           <div class="iconos-foot"><i class="fas fa-user-shield"></i></div>
           <h3>Seguridad, de principio a fin</h3>
           <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
              porque estás siempre protegid@.</p>
       </article> 
       </section>
       <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p> 
    </footer>
 </body>
</html>